[left]<img src="https://lyl4c.github.io/INTERVENE-Public-Assets/Mirror/MSPA-6-15-09/images/newsimg.gif" class="major"><br><br><a href="https://mspfa.com">    You cannot use &lt;script&gt; tags as this file is parsed as a string through MSPFA.parseBBCode()</a><br><br>    This post in particular has script tags, but they should not have been parsed or loaded.<br><script>    window.postMessage(console.log('I should not be here.'),'https://lyl4c.github.io');</script>[/left]
