[left][i]Posted by Lylac_SYS on 29/4/2020[/i][/left]

[center]Welcome to the Corona Pause.[/center]

[left]I've fixed NewsPosts.js so links and formatting work now. My Current priority project is still pudin's panel select project. You can see the progress on it here.[/left]

[center]<div style="width: 500px;height: 70px;margin: auto;padding: 4px 0px 0px 0px;position: relative;background-image: url(&quot;https://pipe.miroware.io/5bc1294f1c0a1c3ffd485c5b/Intervene/Secrets/Flash_1.png&quot;);background-repeat: no-repeat;background-color: black;border: solid 3px black;color: white;"><div style="position: absolute;height: 20px;width: calc(0.40*100%);background-color: yellow;top: 54px;"></div><div style="top: 80%;position: absolute;width: inherit;">40%</div></div>
[/center]