[left]
[i]Posted by Lylac_SYS on 1/4/2020[/i]

[center]Hello there. It's been a long time hasn't it? How have you been?[/center]

If you wanted an update all I can tell you is that I'm still working on it. (going on 3 years now). And I feel bad about that I've left this comic in the dark. I feel worse the longer this goes on without saying anything official.

Here on this page I'm going to show my progress on the next update. Letting you know where the comic is at. This is the most I can do for now. I've had to focus on supporting myself and lost a lot of free time to do projects and hobbies like INTERVENE. And especially now since I'm working in an essential business that's offering a lot of compensation in a dire time.

If I had the free time yes I would be working on INTERVENE, but I would also be working on projects that people have asked of me, or I have wanted to for the mspfa community. I'm not going to ask for help, or at least not a lot of it. It'd be too much to ask really. The point is at this time in my life it's not going to be possible to continue on like the days of old without a miracle.

After April is when I'll have some time to work on hobbies, but INTERVENE isn't even top priority. The focus of this news update is about the comic itself and nothing but, so chill-ax and don't worry much about what else I have to worry about. I'm writing for INTERVENE so the comic is going somewhere at least; It's just not being posted here for the moment.

Is this a hiatus? Yes, and I'm deeply sorry that I posted nothing and lead you to believe that in the absence of saying anything. I didn't want to post something like this at all before, declare a hiatus, and let the comic slowly die in limbo. But that is what ended up happening after all.

I have sunday and the next sunday off before the big 4/13 hits this year. I have 2 flashes animations planned after the panels were supposed to drop BUT ENOUGH IS ENOUGH. I want to try and make the rest of the panels before 4/13, and make at least one of the flashes before 6/12.
[/left]

[center]
[b][size=20]PANELS MADE:[/size][/b]
<div style="width: 500px;height: 20px;margin: auto;padding: 4px 0px 0px 0px;position: relative;background-color: black;border: solid 3px black;color: black;"><div style="position: absolute;height: 24px;width: calc(1.00*100%);background-color: yellow;top: 0px;"></div><div style="position: absolute;width: inherit;">100%</div></div>
[/center]

[left]~ Lylac

PS: If you are a person of musical talent please reach out to me.
[/left]

[left][i]4/7/20[/i]

On further consideration, I still have obligations to other people considering javascript projects. So no intervene flashes for 6/12 :( .
[/left]